.cabeca {
    background-color: rgb(241, 98, 160);
    padding: 5px;
    text-align: start;
    color: rgb(251, 255, 0);
}

.menu {
    background-color: rgb(238, 164, 194);
}

.menu a {
    color: rgb(251, 255, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
    float: left;
    background-color: rgb(245, 126, 178);
    box-sizing: border-box;
    width: 25%;
    text-align: center;
}

.menu a:hover {
    background-color: rgba(245, 126, 178, 0.712);
}

.colLat {
    float: left;
    width: 20%;
    padding: 10px;
    background-color: rgba(209, 114, 155, 0.404);
    box-sizing: border-box;
}

.colCen {
    float: left;
    width: 60%;
    padding: 10px;
    background-color: rgba(255, 251, 0, 0.151);
    box-sizing: border-box;
}

.conteudo {
    clear: both;
}

.colCen h2 {
    text-align: center;
}

.colCen p {
    text-align: justify;
}

.rodape {
    text-align: center;
    padding: 25px;
    display: inline-block;
    background-color: rgba(209, 114, 155, 0.404);
    box-sizing: border-box;
    width: 100%;
}

.rodape p {
    padding: 25px;
}

body {
    margin: 0px;
    color: rgb(226, 51, 138);
}
